body {
    padding: 8px;
}

header {
    display: flex;
    align-items: center;
    padding-block-end: 8px;
}

.title-container {
    padding-inline-start: 8px;
    display: flex;
    flex-direction: column;
}

.pagination-link.is-current {
    background-color: #C82521;
    border-color: #C82521;
}