body {
    padding: 8px;
}

header {
    display: flex;
    align-items: center;
    padding-block-end: 8px;
}

.title-container {
    padding-inline-start: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    inline-size: 100%;
}

.pagination-link.is-current {
    background-color: #C82521;
    border-color: #C82521;
}

.panlex-language-picker {
    font-weight: normal;
}

.panlex-language-picker li {
    cursor: pointer;
}

.panlex-language-picker li:hover {
    background-color: #f5f5f5;
    color: #0a0a0a;
}

.panlex-language-picker li div:last-child {
    font-size: 0.7rem;
}

.panlex-language-picker li:not(:last-child) {
    border-block-end: 1px #dbdbdb solid;
}