<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>PanLex Languages</title>
    <meta name="description" content="List of all languages in PanLex">
    <meta name="author" content="Ben Yang, The PanLex Team">
    <script type="module" src="/vocab/static/panlex-language-picker/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <link rel="stylesheet" href="/vocab/static/css/styles.css">
  </head>

  <body>
    <header>
      <figure class="image is-72x72">
        <a href="https://vocab.panlex.org">
          <img src="/vocab/static/images/logo.png">
        </a>
      </figure>
      <div class="title-container">
        <div>
          <h1 class="title">PanLex</h1>
          <h2 class="subtitle">Language Vocabulary</h2>
        </div>
      </div>
    </header>
    <main>
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>
              <input 
                type="text"
                class="input"
                is="panlex-language-picker" 
                id="lang-picker"
                list-class="dropdown-content"
                list-item-class="dropdown-item"
                placeholder="Select language"
              >
            </th>
          </tr>
        </thead>
        <tbody>
          {%- for langvar in langvar_list -%}
          <tr>
            <td><a href={{langvar.uid}}>{{langvar.name_expr_txt}}</a></td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </main>
  </body>
  <script src="/vocab/static/js/langvar.js"></script>

</html>